@charset "utf-8";
.text-center {
}
.row .col-lg-4 .card.col-md-4.col-lg-12 {
    background-color: #93EA94;
}
.col-lg-4 .card.col-md-4.col-lg-12 .card-img-top {
    background-color: #93EA94;
}
.text-center {
    background-color: #93EA94;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #93EA94;
}
#accordion1 .card #headingOne1 {
    background-color: #93EA94;
}
body p {
    background-color: #93EA94;
}
